berson_synapse_segs/
ding_segmentations/
new_synapse_checkpoints*/
synapse_checkpoints/
tf_summaries/
db_dumps/
*.npy
*.npz
*.zip
*.csv
*.pyc
config.py
*credentials.py
error_logs/
*.swp*
*_ni_*
*_nd_*
*.nml
synapse_fgru_ckpts/
checkpoint/
*.meta
*.index
*.data-*

